<footer div class="bg-white container">
    <div class="row pt-3">
       <div class="col-6">
           <p class="font-weight-bold">About</p>
           <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
               labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
               laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
               voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
               non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
           </p>
       </div>

        <div class="col-3">
            <p class="font-weight-bold">Social</p>

            <ul class="list-unstyled">
                <li class="list-item"><i class="fab fa-instagram"></i> <a href="">Instagram</a></li>
                <li class="list-item"><i class="fab fa-facebook"></i> <a href="">Facebook</a></li>
                <li class="list-item"><i class="fab fa-youtube"></i> <a href="">YouTube</a></li>
                <li class="list-item"><i class="fab fa-github"></i> <a href="">Github</a></li>
            </ul>
        </div>

        <div class="col-3">
           <p class="font-weight-bold">Links</p>

           <ul class="list-unstyled">
               <li class="list-item"><a href="">Link 1</a></li>
               <li class="list-item"><a href="">Link 2</a></li>
               <li class="list-item"><a href="">Link 3</a></li>
           </ul>
       </div>
    </div>

    <div class="row text-center">
        <div class="col">
           <p>Copyright</p>
       </div>
    </div>

</footer>
