.modal {
    padding: 0 !important;
  }

.modal .modal-dialog {
    width: 80%;
    max-width: none;
    height: 80%;
}

.modal .modal-content {
    height: 80%;
}

.modal .modal-body {
    overflow-y: auto;
}
